.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition-duration: .6s;
 } 
 
 .btn-primary {
    background-color: #FC997C;
    color: #fff;
    border: 2px solid #FC997C;
 }

 .btn-primary:hover {
    background-color: #fff;
    color: #FC997C;
    border: 2px solid #FC997C;
 }

 .btn-outline-primary {
    background-color: #fff;
    color: #FC997C;
    border: 2px solid #FC997C;
 }

 .btn-outline-primary:hover {
    background-color: #FC997C;
    color: #fff;
    border: 2px solid #FC997C;
 }

 .btn-secondary {
    background-color: #2E4C;
    color:  #fff;
    border: 2px solid #2E4C;
 }

 .btn-secondary:hover {
    background-color: #fff;
    color: #2E4C;
    border: 2px solid #2E4C;
 }

 .btn-outline-secondary {
    background-color: #fff;
    color: #2E4C;
    border: 2px solid #2E4C;
 }

 .btn-outline-secondary:hover {
    background-color: #2E4C;
    color: #fff;
    border: 2px solid #2E4C;
 }
